<!DOCTYPE html>
<html lang="en">

<head>
    <title>Datatable</title>
    <link rel="stylesheet" type="text/css"
        href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" />
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1" />
</head>

<body>
    <form method='POST'>
        {% csrf_token %}

        {{form}}

        <button type="submit">Submit</button>

    </form>
</body>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>


</html>