<!DOCTYPE html>
<html lang="en">

<head>
    <title>Datatable</title>
    <link rel="stylesheet" type="text/css"
        href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css" />
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1" />
</head>

<body>

    <table id="table" class="table table-bordered">
        <thead class="alert-warning">
            <tr>
                <th>Name</th>
                <th>Surname</th>

            </tr>
        </thead>
        <tbody>
            {% for member in object_list %}
            
                {% csrf_token %}
                <tr onclick="detailView({{member.id}})" style="cursor:pointer;">
                    <td>{{ member.name }}</td>
                    <td>{{ member.surname }}</td>
                </tr>
            
            {% endfor %}
        </tbody>
    </table>
</body>
<script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('#table').DataTable();
    });

    function detailView(param){
        window.location.href = "http://127.0.0.1:8000/list/"+param
    }
</script>

</html>

{% comment %} <a href="http://127.0.0.1:8000/list/{{member.id}}">MDN</a> {% endcomment %}
